.blue {
    color: blue;
  }
  
  .red {
    color: red;
  }
  
  #calendar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .calendar-table {
    width: 2vw;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }